{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}


<div class="container">
    <div class="row mx-5">
      <div class="col">
        <div class="card">
            <div class="card-header">
              New Task
            </div>
            <div class="card-body">
              <h4 class="card-title">Add a new task</h4>

                <!-- Add task form -->
                <form method="POST" action="">

                  <div class ="row mx-1">
                    {% csrf_token %}
                    {{form.title.label}}
                    {{form.title}}
                  </div>

                  <!-- Save Button -->
                  <button type="submit"  class="btn btn-primary my-3 mx-1" placeholder="Search tasks"><i class="bi bi-save"></i> Save</button>
                </form>

            </div>
          </div>
      </div>
    </div> 
</div>

<!-- View Tasks Button -->
<div class="container">
    <div class="row mx-5 my-3">
      <div class="col">
        <button type="button" class="btn btn-warning"><a href="{% url 'tasks' %}" class="link-dark" style="text-decoration: none"> <i class="bi bi-eye-fill"></i>  View tasks </a></button>
      </div>
    </div> 
</div>


{% endblock content %}