{% extends 'base.html' %}

{% block content %}



<div class="container text-center">
    <div class="row m-5">
      <div class="col">

        


        <form  id = "form1" method="GET">
          <input type="text" name="search-area" value="{{search_input}}">
          <input type="submit" value="Search">
        </form>



        


      </div>
    </div> 
</div>






{% for task in tasks %}
  <div class="container">
      <div class="row mx-5 my-3">
        <div class="col">
          <div class="card shadow">
            
            <div class="row">

              <div class="col-12 col-md-8 col-lg-10">
                <div class="card-body">
                  <h5 class="card-title">{{task.title}}</h5>
                  <p> created today </p>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-2">
                <div class="card-body">
                  <a href="{% url 'task-update' task.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                  
                  
                  
                  
                  <form style="display: inline;"  method = "POST" action="{% url 'task-delete' task.id %}" id="form1">
                    {% csrf_token %} 
                    <button type = "submit" class = "btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                  </form>

                  

                </div>
              </div>

            </div>
            

            
            

            </div>
          </div>
        </div>
      </div> 



      



  </div>
{% endfor %}

<div class="container">
    <div class="row m-5">
      <div class="col">
        <p> <a href="{% url 'task-create' %}" class="btn btn-success"> <span> <i class="bi bi-plus fa-lg"></i> </span> Add a new task </a> </p>
      </div>
    </div> 
</div>








{% endblock content %}