{% extends 'base.html' %}

{% block content %}



<div class="container text-center">
    <div class="row m-5">
      <div class="col">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search tasks" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
      </div>
    </div> 
</div>

<div class="container">
    <div class="row m-5">
      <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">task 1</h5>
              <p class="card-text">created today</p>
              <a href="{% url 'page3' %}" class="btn btn-success">edit task</a>
              <a href="#" class="btn btn-danger">delete task</a>
            </div>
          </div>
      </div>
    </div> 
</div>

<div class="container">
    <div class="row m-5">
      <div class="col">
        <p> <a href="{% url 'page2' %}" class="btn btn-primary"> add task </a> </p>
      </div>
    </div> 
</div>








{% endblock content %}